.content {
    margin-top: 90px;
}

.avatar {
    width: 100px;
}

.avatar-sm {
    width: 60px;
}

.required:after {
    content: '*';
    color: #d51818;
}

.phone {
    width: 375px;
}

.form-group {
    position: relative;
}