body .tooltip-inner {
    background: #e7e7e7;
    color: #181818;
    font-size: 12px;
}

body .tooltip .arrow::before {
    border-bottom-color: #e7e7e7;
}

.content {
    margin-top: 62px;
}

.content-main {
    background-color: white;
    padding: 11px 6px;
    border-radius: 0 0 4px 4px;
}

.content-main0 {
    padding: 11px 6px;
}

.avatar {
    width: 100px;
}

.avatar-sm {
    width: 60px;
}

.required:after {
    content: '*';
    color: #d51818;
}

.phone {
    width: 460px;
}

.form-group {
    position: relative;
}