.content {
    margin-top: 90px;
}

.avatar {
    width: 100px;
}

.avatar-sm {
    width: 60px;
}

.search {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 3px 3px 3px 10px;
}